__pycache__/
*.py[cod]
*.pyo
*.pyd
*.sqlite3
*.egg-info/
.env
.DS_Store
data/*.xlsx
!data/teams.xlsx
!data/processed_activities.xlsx
!data/distances.xlsx
data/strava_token.json
.strava_*
dist/
!docs/
.venv/
.env/
